fastapi
uvicorn[standard]
aiohttp
pydantic
python-dotenv
google-cloud-firestore
google-auth
gunicorn
aiohttp==3.9.1
google-cloud-firestore==2.14.0
google-cloud-secret-manager==2.17.0
python-dateutil==2.8.2